
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/composer.phar

/.env.local
/.env.local.php
/.env.*.local
/public/bundles
/var/
/vendor/
/config/packages/dev/swiftmailer.yaml
